<div class="about" style="background-image: url(@img(about))">
	<div class="about__container">
		<div class="about__content">
			<div class="about__header">
				<h3 class="about__title">Quem Somos</h3>
			</div>
			<div class="about__main">
				A Talgui foi fundada desde 2003 e é voltada para um mercado atacadista. As roupas são feitas com
				inspirações
				das últimas tendências da moda, além de serem elaborados com muito cuidado e com qualidade ! A Talgui
				sempre
				está buscando desenvolver produtos exclusivos para seus cliente. Roupas falam, deixe-os contar um pouco
				sobre você. <br />
				Com atitude e estilo.
				<div class="about__author">Use Talgui.</div>
			</div>
		</div>
	</div>
</div>
