<div class="instagram" style="background-image: url(@img(instagram))">
	<div class="instagram__container">
		<div class="instagram__header">
			<h2 class="instagram__title"><a href="">#BETALGUI</a></h2>
			<div class="instagram__description">
				Siga nosso Instagram @talguistore e acompanhe nossas novidades !
			</div>
		</div>
		<div class="instagram__main">
			<div class="instagram__list">
				<a href="" class="instagram__link">
					<img src="https://fakeimg.pl/250/" class="instagram__img" />
				</a>
				<a href="" class="instagram__link">
					<img src="https://fakeimg.pl/250/" class="instagram__img" />
				</a>
				<a href="" class="instagram__link">
					<img src="https://fakeimg.pl/250/" class="instagram__img" />
				</a>
				<a href="" class="instagram__link">
					<img src="https://fakeimg.pl/250/" class="instagram__img" />
				</a>
				<a href="" class="instagram__link">
					<img src="https://fakeimg.pl/250/" class="instagram__img" />
				</a>
				<a href="" class="instagram__link">
					<img src="https://fakeimg.pl/250/" class="instagram__img" />
				</a>
			</div>
		</div>
	</div>
</div>
