.header
	max-width: viewport
	width: 100%
	background: #fff

	&-container
		background: #fff

@media desktop
	.header
		position: relative
		z-index: 100
		box-shadow: 800px 0 0 #fff, -800px 0 0 #fff
		margin-bottom: 0 !important
		padding-bottom: 16px

		&-container
			background: none
			box-shadow: none
