<div class="prod__img">
	@fotos
	@selos
</div>
<div class="prod__shop">
	<div class="col1">
		<div class="prod__name">
			<h1>@nome</h1>
			<small class="sku">Cód.: @atributo(sku)</small>
		</div>

		@variacoes

		@if(is_disponivel)
		@preco
		@bt(comprar)
		@else(is_disponivel)
		<div class="prod__esgotado">
			<div class="title title--sm">Produto Esgotado</div>
			@alertas
		</div>
		@endif(is_disponivel)

		<div class="prod__desc">
			<div class="prod__desc-item prod__desc-item--short-desc">
				<a href="#short-desc">Descrição do produto</a>
			</div>
			<div class="prod__desc-item">
				<a href="">Tabela de medidas</a>
			</div>
		</div>
		<div class="prod__short-desc">@descricao(curta)</div>
	</div>
</div>
