@media mobile
	.filters
		.link
			color: #fff

@media desktop
	.filters
		.link
			font-size: 13px
			font-weight: regular

		> .title
			font-size: 16px
			font-weight: regular
			text-transform: uppercase
			margin: 0
			padding: 10px 0
			border-bottom: solid 1px #e5e5e5

		.categoria
			li
				margin-bottom: 16px

		&__filter
			box-shadow: none
			padding: 0
			margin: 0
			border-bottom: solid 1px #e5e5e5

			&:not(:last-child)
				margin-bottom: 0

			.a--0
				font-size: 13px
				font-weight: regular

			.li--0:not(:last-child)
				margin-bottom: 16px

			> ol, > ul, .filters__swatches
				display: none

			&:hover
				box-shadow: none

			&.off
				> ol, > ul, .filters__swatches
					display: block
					padding-bottom: 16px

		&__name
			padding: 20px 0
			margin: 0
			font-size: 16px
			font-weight: regular
			text-transform: uppercase
			color: unquote($color1_bg)
			position: relative
			padding-right: 60px
			cursor: pointer

			&:after
				icon('\f053')
				position: absolute
				right: 0
				top: 50%
				width: 48px
				height: 48px
				display: flex
				justify-content: center
				align-items: center
				font-size: 10px
				transform: translateY(-50%) rotate(-90deg)
