.category-title, .amount, .toolbar .limiter
	display: none

.toolbar
	.sorter
		margin-left: 0

		.sort-by
			margin-left: 0

			label
				display: none

			&:before
				display: inline-block
				content: 'ordenar'
				font-size: 12px
				font-weight: light
				text-transform: uppercase
				margin-right: 20px
